<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <properties>
        <property name="log.path">logs</property>
        <property name="log.debug">debug</property>
        <property name="log.error">error</property>
        <property name="log.filePattern">%d{yyyy-MM-dd}</property>
        <property name="log.pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
        <property name="log.file.size">50 MB</property>
    </properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="DebugLog" fileName="${log.path}/${log.debug}.log"
                                 filePattern="${log.path}/$${date:yyyy-MM}/${log.debug}-${log.filePattern}-%i.log">
            <PatternLayout pattern="${log.pattern}"/>
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>

            <Policies>
                <TimeBasedTriggeringPolicy interval="20"/>
                <SizeBasedTriggeringPolicy size="${log.file.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${log.path}" maxDepth="2">
                    <IfFileName glob="*/${log.debug}-*.log"/>
                    <IfLastModified age="P3D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="ErrorLog" fileName="${log.path}/${log.error}.log"
                                 filePattern="${log.path}/$${date:yyyy-MM}/${log.error}-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${log.pattern}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="6"/>
                <SizeBasedTriggeringPolicy size="${log.file.size}"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${log.path}" maxDepth="2">
                    <IfFileName glob="*/${log.error}-*.log"/>
                    <IfLastModified age="P15D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

    </appenders>
    <Loggers>

        <logger name="com.hand.initElasticSearchTestData" level="debug" additivity="false">
            <appender-ref ref="DebugLog"/>
        </logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DebugLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Root>
    </Loggers>
</configuration>